* {
    margin: 0;
    padding: 0;
}

/* Storing necessary Data in root block */

:root{
    --general-font: "Inter";
    --heading-font: "Montserrat";
    --para-font: "Fredoka";
    --font-color: #9615DB;
    --block-background: #d2d3d3;
    --head-color1: #555759;
    --head-color2: #7D7F80;
    --dark-color: #2D3032;
}

.header{
    position: sticky;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    width: 100%;
}

.menu-icon{
    display: none;
}

.menu-icon i{
    color: var(--dark-color);
    font-size: 25px;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
}

.menuList{
    padding: 10px;

    display: flex;
    align-items: center;
    gap: 15px;

    transition: all 0.8s;
    list-style-type: none;
}

.menuList li{
    padding: 5px;
    border: 1px transparent solid;
    border-radius: 0px;
    transition: 0.6s;
}

.menuList li:hover{
    border-bottom-color: var(--dark-color);
}

.menuList li a{
    text-decoration: none;
    color: var(--font-color);

    font-family: var(--general-font);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;

    transition: 0.6s;
}

.menuList li a:hover{
    color: var(--dark-color);
}

.header-part2{
    padding: 15px;

    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
    cursor: pointer;
}

.icon-def{
    background-color: var(--font-color);
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.name{
    color: var(--dark-color);
    font-family: var(--heading-font);
    text-transform: uppercase;
    letter-spacing: 0.3mm;
}

.dark-icon{
    background-color: var(--dark-color);
    padding: 10px;
    position: fixed;
    bottom: 0%;
    right: 0%;
    margin: 10px;
    border-radius: 10px;
}

.dark-icon i{
    color: white;
    font-size: 24px;
    cursor: pointer;

}

.myBlock{
    display: flex;
    align-items: center;
    gap: 30px;
}

.firstHalf{
    background-color: var(--head-color1);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: 400px;
}

.social-icons{
    display: none;
    margin: 5px;
    gap: 20px;    
}

.social-icons div{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.social-icons div i{
    font-size: 20px;
    cursor: pointer;
}

.secondHalf{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    
    gap: 20px;
    margin: 30px;
    padding: 20px;
    
    border-radius: 10px;
    box-shadow: 1px 1px 5px var(--dark-color);
}

.part1{
    color: var(--font-color);
    font-family: var(--heading-font);
}

.part1 h3{
    margin: 3px 0px 3px 0px;
}

.part2{
    color: var(--dark-color);
    font-family: var(--para-font);
    font-size: 16px;
}

.frame-img{
    width: 250px;
    height: 250px;
    border: 3px white solid;
    border-radius: 200px;
    padding: 10px;
    margin: 40px;
    box-shadow: 2px 2px 10px var(--font-color),-2px -2px 10px var(--font-color);
}

.skill-set{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.skill-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 10px;
    padding: 10px;
}

.skill-heading h1{
    color: var(--dark-color);
    font-family: var(--heading-font);

    text-transform: uppercase;
    letter-spacing: 0.2mm;
}

.skill-heading div{
    background-color: var(--head-color1);
    padding: 5px;
    border-radius: 5px;
}

.skill-heading div i{
    font-size: 30px;
    color: white;
}

.skill-block{
    display: flex;
    align-items: center;

    gap: 40px;
    padding: 10px;
}

.main-skill-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;
    padding: 5px;
}

.skill-block-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    background-color: var(--font-color);
    color: white;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

.skill-block-data h3{
    padding: 5px;
    font-size: 20px;
    font-family: var(--heading-font);
    text-transform: uppercase;
    color: white;
}

.skill-block-data h4{
    font-size: 16px;
    font-family: var(--general-font);
    color: white;
    text-transform: uppercase;
}

.skill-block-data p{
    font-family: var(--para-font);
    font-size: 14px;
    text-align: center;
}

.know-more{
    display: flex;
    align-items: center;
    gap: 10px;
}

.know-more h5{
    font-family: var(--general-font);
    font-size: 16px;
    color: var(--dark-color);
    text-transform: uppercase;
    font-weight: 700;
}

.know-more i{
    font-size: 20px;
    color: var(--dark-color);
    transition: 0.6s;
}

.know-more i:hover{
    padding-left: 10px;
}

.projects{
    margin: 10px;
    padding: 10px;
    
    display: flex;
    flex-direction: column;
}

.project-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-heading h1{
    color: var(--dark-color);
    font-family: var(--heading-font);
    text-transform: uppercase;
}

.project-heading div{
    background-color: var(--head-color1);
    padding: 5px;
    border-radius: 5px;
}

.project-heading div i{
    font-size: 30px;
    color: white;
}

.main-project-content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    margin: 30px;
    gap: 40px;
}

.side-img{
    width: 600px;
    height: 350px;

    border-radius: 10px 0 10px 0;
    box-shadow: 2px 2px 10px var(--font-color);
}

.site-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 20px;
}

.site-data h3{
    color: var(--dark-color);
    font-size: 30px;
    font-family: var(--heading-font);

    text-transform: uppercase;
    letter-spacing: 0.2mm;
}

.site-data p{
    color: var(--font-color);
    font-family: var(--para-font);
    font-weight: 550;
    text-align: center;
    font-size: 15px;
}

.site-data a ul{
    list-style-type: none;
    width: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.site-data a{
    text-decoration: none;
}

.site-data a ul li{
    color: var(--dark-color);
    text-align: center;
    text-transform: uppercase;

    font-family: var(--general-font);
    font-size: 18px;
    font-weight: 700;
}

.visit-site{
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--dark-color);
    padding: 8px;
    border-radius: 5px;
}

.visit-site h4{
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1mm;

    font-size: 18px;
    font-weight: 600;
    font-family: var(--general-font);
}

.visit-site div i{
    color: white;
    font-size: 23px;
}

.explore-more{
    display: flex;
    justify-content: flex-start;

    margin: 5px;
}

.explore-more div a{
    text-decoration: none;
    display: flex;
    align-items: center;

    gap: 10px;
    padding: 6px;

    border: 2px var(--font-color) solid;
    border-radius: 5px;
}

.explore-more div a h3{
    color: var(--font-color);
    text-transform: uppercase;
    font-family: var(--general-font);
    font-size: 18px;
    font-weight: 600;
}

.explore-more div a i{
    color: var(--font-color);
    font-size: 22px;
}

/* Smart-Phone Size Design in CSS */
@media (max-width: 600px){

    .menu-icon{
        display: block;
    }

    .menuList{
        flex-direction: column;
        position: absolute;
        top: 80%;
        gap: 0px;
        padding: 20px;
        text-align: center;
        background-color: white;
        border-radius: 20px;
    }

    .menuList li{
        padding: 10px;
    }

    .menuList li a{
        color: var(--dark-color);
    }

    .myBlock{
        flex-direction: column;
    }

    .firstHalf{
        justify-content: center;
        width: auto;
        border-radius: 10px;
    }

    .secondHalf{
        gap: 10px;
    }

    .part1 h1{
        font-size: 25px;
    }

    .part1 h3{
        font-size: 16px;
        padding: 5px 10px 5px 0;
    }

    .part2 p{
        font-size: 13px;
        font-weight: 500;
    }

    .frame-img{
        margin: 10px;
        padding: 8px;
    }

    .main-project-content{
        margin: 20px;
    }

    .skill-block{
        flex-direction: column;
        gap: 20px;
    }

    .hidden1{
        display: none;
    }

    .main-project-content{
        flex-direction: column;
        gap: 30px;
    }

    .site-data h3{
        font-size: 23px;
    }

    .site-data p{
        font-size: 14px;
        font-weight: 500;
    }

    .side-img{
        height: 250px;
        width: 400px;
    }
}

/* Tablets Devices Width Session */
@media (max-width: 1200px) and (min-width: 600px){

    .myBlock{
        flex-direction: column;
    }

    .firstHalf{
        width: 500px;
        border-radius: 15px;
        
        flex-direction: column;
        justify-content: center;
    }

    .frame-img{
        margin: 20px;
    }

    .social-icons{
        display: flex;
    }

    .social-icons div i{
        color: white;
        font-size: 23px;
    }

    .secondHalf{
        gap: 15px;
    }

    .part1 h3{
        font-size: 17px;
        margin: 5px 10px 5px 0;
    }

    .part2 p{
        font-weight: 550;
        font-size: 15px;
    }

}